body{
	font-family: 'Poppins', sans-serif !important;
	background-color: #274f6a !important;
	color: white !important;		
}

nav{
	background: white;
	background: -webkit-linear-gradient(to left, rgba(27, 99, 154, 0.85), rgba(255, 255, 255, 0.85));
	background: linear-gradient(to left, rgba(27, 99, 154, 0.85), rgba(255, 255, 255, 0.85))
}

.nav-link{
	padding: 20px 30px !important;
}

.img-service{
	max-width: 300px !important;
}